<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 1200px;
            height: 500px;
            margin: 0px auto;
            text-align: center;
        }

        h1{
            text-align: center;


            
        }

        #bk1{
            
        }

        iframe{
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
    <h1 >프로젝트명: 인구통계 데이터 분석 </h1>
    <table border =1>
        
        <tr>
            <th>메뉴</th>
            <td rowspan="8">
                <iframe name = 'result' frameborder="0"></iframe>
            </td>
        </tr>

        <tr>
            <td>
                <a href="{{url_for('result', no = '1')}}" target="result">1. 분석목표 및 방법 </a> 
            </td>
        </tr>

        <tr>
            <td>
                <a href="{{url_for('result', no = '2')}}" target="result">2. 사용한 라이브러리 및 활용 데이터셋</a> 
            </td>
        </tr>

        <tr>
            <td>
                <a href="{{url_for('result', no = '3')}}" target="result">3. 데이터 전처리 과정</a> 
            </td>
        </tr>

        <tr>
            <td>
                <a href="{{url_for('result' , no = '4')}}" target="result">4. 분석결과시각화 </a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="{{url_for('result' , no = '5')}}" target="result">5. 분석에 대한 결론 </a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="{{url_for('result' , no = '6')}}" target="result">6. 참고문헌 </a>
            </td>
        </tr>

        <tr>
            <td>
                 <a href="{{url_for('result' , no = '7')}}" target="result">7. 팀원역할 </a>
            </td>
        </tr>

    </table>

    <div id="bk1"></div>
</body>
</html>