<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            margin-left: 50px;
        }
    </style>
</head>

<body>
    <h1>3. 데이터 전처리 과정 </h1>


    <a href="{{url_for('result', no = '3_1')}}" target="result">순이동률</a>
    <a href="{{url_for('result', no = '3_2')}}" target="result">출산율</a>
    <a href="{{url_for('result', no = '3_3')}}" target="result">인구자연증가율</a>




</body>

</html>