<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h2 {
            padding-top: 10px;
            padding-left: 30px;
            color: rgb(21, 21, 59);
        }

        .dot {
            border-top: 2px solid;
            color: rgb(88, 88, 88);
            margin: 30px 0;
        }

        a{
            text-decoration: none;
            color: rgb(122, 84, 170); 
        }

        .KOSIS{
            padding-left: 30px;
            color: rgb(21, 21, 59);
        }
    </style>
</head>

<body>
    <h2>6. 참고문헌</h2>
    <hr class="dot">


    <a href="https://kosis.kr/index/index.do" class="KOSIS">
        KOSIS 국가통계 포털 [CLICK]
    </a>

    <ul>
        <li>
           <a href="https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B8000H&conn_path=I2">
               
                국가데이터처,「인구동향조사」, 시도/인구동태건수 및 동태율(출생,사망,혼인,이혼) [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://kosis.kr/visual/eRegionJipyo/themaJipyo/eRegionJipyoThemaJipyoView.do?themaId=A_01_01&menuThemaId=A_01_01_02&jipyoId=5676_7126&jipyoNm=&graphTypeGbn=THEMA&statId=&regionChkVal=00%40&chartGbn=DTypeChart&selectPrdDe=&themaGbn=&detailJipyoId=&themaGbnMenu=&chooseYm=&jipyo1PrdDe=&AreaChoiceCombo=A_01_01">
                인구 총 이동률 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://kosis.kr/statHtml/statHtml.do?sso=ok&returnurl=https%3A%2F%2Fkosis.kr%3A443%2FstatHtml%2FstatHtml.do%3Fconn_path%3DK1%26list_id%3D%26obj_var_id%3D%26seqNo%3D%26tblId%3DDT_1B81A21%26vw_cd%3D%26itm_id%3D%26lang_mode%3Dko%26orgId%3D101%26scrId%3D%26">
                 시도/합계출산율, 모의 연령별 출산율 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://data.busan.go.kr/bdip/statistics/busan/bmi.do;jsessionid=A9E3A8147579EE8A00C2582717F86356.worker2?clsf=BMI_POP">
                부산- 초고령사회 진입 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://www.mt.co.kr/policy/2026/01/15/2026011509414658040">
                울산 - 도심융합특구 계획 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1YL20631&conn_path=I2">
                행정안전부(주민과), 2025.12, 2026.01.19, 고령인구비율(시도/시/군/구) [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="http://info.daegu.go.kr/newshome/mtnmain.php?mtnkey=articleview&mkey=scatelist&aid=265763&bpage=1&stext=">
                대구광역시 뉴스룸: 고령친화도시 추진 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="http://info.daegu.go.kr/newshome/mtnmain.php?mtnkey=articleview&mkey=50&aid=269247">
                 대구광역시 통합난임치료센터 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1YL20631&conn_path=I2">
                행정안전부(주민과), 2025.12, 2026.01.19, 고령인구비율(시도/시/군/구) [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://umppa.seoul.go.kr/hmpg/chpo/bsip/contPageDetail.do?conts_no=11F42D7A5406855FE063A60221626438">
                프로젝트 종합 안내: 탄생응원 서울 프로젝트 공식 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://www.i-sh.co.kr/app/index.do">
                SH공사 청약센터 [CLICK]
            </a>
        </li>
        <br>

        <li>
            <a href="https://umppa.seoul.go.kr/hmpg/main.do">
                돌봄/수당 신청 (통합포털) [CLICK]
            </a>
        </li>
        <br>

        


    </ul>




</body>

</html>